*.vcxproj
*.vcxproj.filters
*.sln
CMakeFiles/**
build/CMakeFiles/**
build/Testing
build/*.cmake
build/*.tcl
build/glm
build/glm/**
build/imgui
build/imgui/*
build/CMakeCache.txt
build/TotalEditor3.exe
build/Makefile
build/compile_commands.json
build/imgui.ini
.vs/
.vscode/**
*.a
*.dll.a
build/*.a